@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
 
}
/* globals.css or a module CSS file */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}
