@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply bg-gradient-to-r from-[#D32F2F] via-[#B71C1C] to-[#4A148C];
  background-image: 
  linear-gradient(to right, rgba(211, 47, 47, 0.7), rgba(183, 28, 28, 0.7), rgba(74, 20, 140, 0.7)),
  url('/IPL_ARRIVING.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* globals.css or a module CSS file */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}
